<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="Themepixels">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png">

  <title>SO'VAR - Outil d'analyse et de suivi de la variation</title>

  {% block css %}{% endblock css %}
 
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png">
  
  <title>SO'VAR - Outil d'analyse et de suivi de la variation</title>
  <!-- Vendor CSS -->
  <link href="{{ url_for('static', filename='lib/remixicon/fonts/remixicon.css') }}" rel="stylesheet">



  <link href="{{ url_for('static', filename='lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/select2/css/select2.min.csss') }}" rel="stylesheet">
  <!-- Template CSS -->
  <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
  <link href="../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/select2/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/lib/remixicon/fonts/remixicon.css">
  <link rel="stylesheet" href="../static/lib/prismjs/themes/prism.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.min.css">
</head>

<body data-bs-spy="scroll" data-bs-target="#navDocs" data-bs-offset="40">

  <div class="main main-app p-3 p-lg-4">
   
    {% extends 'index.html' %}

    {% block content %}



    <div class="col-xl-12">

      <div class="card card-title ">


        <div class="card-body">




          <div class="row g-3">








            <h5 id="section11" class="main-subtitle text-dark"><i class="ri-checkbox-multiple-line"></i> Actions Individuelles</h5>
            <br>

            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped mb-0" id="tableGrid3">

                    <thead>
                      <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Cause</th>
                      <th scope="col">Actions</th>
                      <th scope="col">Porteur</th>
                      <th scope="col">Echéance</th>
                      <th scope="col">Statut</th>

                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ele in results %}
                      <tr>
                        <td>{{ele.id}}</td>
                        <td>{{ele.cconseiller}}</td>
                        <td>{{ele.valeur}}</td>
                        <td>{{ele.valeur}}</td>
                        <td>{{ele.valeur}}</td>
                        <td>{{ele.valeur}}</td>
                        <td>
                          <a href="#info{{ele.id}}" data-bs-toggle="modal" data-target="#info{{ele.id}}">
                            <button type="button" class="btn btn-secondary  btn-sm d-flex align-items-center gap-2"
                              data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier"><i
                                class="ri-edit-line fs-13 lh-1"></i></button>
                          </a>
                        </td>
                      </tr>

                      <div class="modal fade" id="info{{ele.id}}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">

                            <div class="modal-body">
                              <div class="card card-title">

                                <div class="card-header bg-light">
                                  <h5 id="section11" class="main-subtitle text-dark"><i class="ri-stack-fill"></i>
                                    MODIFIER MÉTRIQUES</h5>
                                </div>

                                <div class="card-body">


                                  <div class="media-body">

                                    <div class="row">
                                      <div class="col-6">
                                        <label for="inputEmail4" class="form-label">Libelle</label>
                                        <input type="text" class="form-control" value="{{ele.metrique}}" name="metrique"
                                          required>
                                      </div>
                                      <div class="col-6">
                                        <label for="inputPassword4" class="form-label">Type</label>

                                        <select class="form-select" name="type" value="{{ele.type}}" required>
                                          <option value="Service">Service</option>

                                          <option value="Qualité">Qualité</option>
                                          <option value="Service">Service</option>


                                        </select>
                                      </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-6">
                                        <label for="inputAddress" class="form-label">Périodicité</label>
                                        <select class="form-select" name="periodicite" value="{{ele.periodicite}}"
                                          required>
                                          <option value="Service">Hebdomadaire</option>

                                          <option value="Qualité">Mensuel</option>
                                          <option value="Service">Service</option>




                                        </select>
                                      </div>
                                      <div class="col-6">
                                        <label for="inputAddress2" class="form-label">Niveau Analyse</label>

                                        <select class="form-select" name="analyse" value="{{ele.niveau}}" required>
                                          <option value="Conseiller">Conseiller</option>

                                          <option value="Manager">Manager</option>
                                          <option value="Prestataire">Prestataire</option>




                                        </select>
                                      </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <label for="inputCity" class="form-label">Description</label>
                                        <input type="text" class="form-control" value="{{ele.description}}"
                                          name="description" required>

                                      </div>

                                    </div>
                                    <br>

                                    <div class="col-12">
                                      <br>
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-primary btn-sm" type="submit"><i
                                            class="ri-save-2-line"></i> Modifier</button>

                                      </div>

                                    </div>

                                  </div><!-- media-body -->




                                </div><!-- modal-body -->

                              </div><!-- modal-content -->
                            </div><!-- modal -->

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card-body -->

            </div><!-- card -->

            <br>
            <a href="#" >

            <button type="button" class="btn btn-primary  btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Ajouter"><i class="ri-download-2-fill"></i></button></a>
           

          </div><!-- main -->
        </div>
      </div>
    </div></div>
    {% endblock content %}


    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script src="{{ url_for('static', filename='js/db.data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db.finance.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>

    <script
      src="{{ url_for('static', filename='lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>

    <script
      src="{{ url_for('static', filename='lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>


    <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/prismjs/prism.js"></script>
    <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/lib/gridjs-jquery/gridjs.production.min.js"></script>

    <script src="../static/assets/js/script.js"></script>
    <script>
      'use strict'




      // Search
      $("#tableGrid3").Grid({
        className: {
          table: 'table table-striped mb-0'
        },
        search: true,
        pagination: true,
        sort: false
      });



    </script>
</body>

</html>