<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="Themepixels">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png">

  <title>SO'VAR - Outil d'analyse et de suivi de la variation</title>

  {% block css %}{% endblock css %}
  <!-- Vendor CSS -->
  <link href="{{ url_for('static', filename='lib/remixicon/fonts/remixicon.css') }}" rel="stylesheet">



  <link href="{{ url_for('static', filename='lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/select2/css/select2.min.csss') }}" rel="stylesheet">
  <!-- Template CSS -->
  <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
  <link href="../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/select2/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/lib/remixicon/fonts/remixicon.css">
  <link rel="stylesheet" href="../static/lib/prismjs/themes/prism.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.min.css">
</head>

<body data-bs-spy="scroll" data-bs-target="#navDocs" data-bs-offset="40">

  <div class="main main-app p-3 p-lg-4">
  
    {% extends 'index.html' %}

    {% block content %}



    <div class="col-xl-12">

      <div class="card card-title ">


        <div class="card-body">




          <div class="row g-3">








            <h5 class="main-subtitle text-dark"><i class="ri-stack-fill"></i> MÉTRIQUES / KPI</h5>
           <br>

          {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
          
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          
          {% endif %}
          {% endwith %}
          
          
          {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
          
          {% for message in messages %}
          
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          
          {% endfor %}
          
          {% endif %}
          {% endwith %}

            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped mb-0" id="tableGrid3">

                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Libelle</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                        <th scope="col">Niveau Analyse</th>
                        <th scope="col">Périodicité</th>
                          {% if session.so_profil_id==1 %}
                        <th scope="col" class="text-center">Action</th>
                          {% endif%}
                      </tr>
                    </thead>
                    <tbody>
                    {% for ele in metriq %}
                    <tr>
                      <td>{{ele.idkpi}}</td>
                      <td>{{ele.metrique}}</td>
                      <td>{{ele.description}}</td>
                      <td>{{ele.type}}</td>
                      <td>{{ele.niveau}}</td>
                      <td>{{ele.periodicite}}</td>
                      {% if session.so_profil_id==1 %}
                        <td>
                          <a href="#info{{ele.idkpi}}" data-bs-toggle="modal" data-target="#info{{ele.idkpi}}" >
                            <button type="button" class="btn btn-secondary  btn-sm  align-items-center gap-2" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Modifier"><i
                                class="ri-edit-line fs-11 lh-1"></i></button>
                          </a>
                          <a href="{{ url_for('delete_metrique',id=ele.idkpi) }}"
                            onclick="return confirm('Voulez vous supprimer le métrique: {{ele.description}} ?')" title="Supprimer">
                        
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Supprimer"><i
                                class="ri-delete-bin-5-fill fs-11 lh-1"></i></button>
                          </a>
                        
                        
                        </td>

                         
                        {% endif %}
                      </tr>

                      <div class="modal fade" id="info{{ele.idkpi}}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">

                            <div class="modal-body">
                              <div class="card card-title">

                                <div class="card-header bg-light">
                              <h5 id="section11" class="main-subtitle text-dark"><i class="ri-stack-fill"></i> MODIFIER MÉTRIQUES</h5>
                                </div>

                                <div class="card-body">


                                  <div class="media-body">

                                    <div class="row">
                                      <div class="col-6">
                                        <label for="inputEmail4" class="form-label">Libelle</label>
                                        <input type="text" class="form-control" value="{{ele.metrique}}"
                                          name="metrique" required>
                                      </div>
                                      <div class="col-6">
                                        <label for="inputPassword4" class="form-label">Type</label>
                                      
                                        <select class="form-select" name="type" value="{{ele.type}}" required>
                                          <option value="Service">Service</option>
                                      
                                          <option value="Qualité">Qualité</option>
                                          <option value="Service">Service</option>
                                        
                                        
                                        </select>
                                      </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-6">
                                        <label for="inputAddress" class="form-label">Périodicité</label>
                                      <select class="form-select" name="periodicite" value="{{ele.periodicite}}" required>
                                        <option value="Service">Hebdomadaire</option>
                                      
                                        <option value="Qualité">Mensuel</option>
                                        <option value="Service">Service</option>
                                      
                                      
                                      
                                      
                                      </select>
                                      </div>
                                      <div class="col-6">
                                        <label for="inputAddress2" class="form-label">Niveau Analyse</label>
                                       
                                          <select class="form-select" name="analyse" value="{{ele.niveau}}" required>
                                            <option value="Conseiller">Conseiller</option>
                                          
                                            <option value="Manager">Manager</option>
                                            <option value="Prestataire">Prestataire</option>
                                          
                                          
                                       
                                        
                                        </select>
                                      </div>

                                    </div>

                                    <br>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <label for="inputCity" class="form-label">Description</label>
                                        <input type="text" class="form-control" value="{{ele.description}}"
                                        name="description" required>

                                      </div>
                                      
                                    </div>
                                    <br>
                                
                                    <div class="col-12">
                                      <br>
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-primary btn-sm" type="submit"><i
                                            class="ri-save-2-line"></i> Modifier</button>

                                      </div>

                                    </div>

                                  </div><!-- media-body -->




                                </div><!-- modal-body -->

                              </div><!-- modal-content -->
                            </div><!-- modal -->

                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </tbody>
                  </table>
                </div><!-- table-responsive -->

                          <br><br>
                          <a href="#AddCause" data-bs-toggle="modal">
                          
                            <button type="button" class="btn btn-primary  btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Ajouter"><i class="ri-add-fill"></i></button></a>
              </div><!-- card-body -->

            </div><!-- card -->

 

<div class="modal fade" id="AddCause" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <div class="card card-title">

          <div class="card-header bg-light">
            <h5 id="section11" class="main-subtitle text-dark"><i class="ri-stack-fill"></i> AJOUT MÉTRIQUE</h5>
          </div>

          <div class="card-body">
<form action="/add_metrique" method="POST">
<input type="text" name="user_session" class="form-control wd-380" value="{{session.so_login}}" hidden>


            <div class="media-body">

              <div class="row">
                <div class="col-6">
                  <label for="inputEmail4" class="form-label">Libelle</label>
                  <input type="text" class="form-control" name="metrique" required>
                </div>
                <div class="col-6">
                  <label for="inputPassword4" class="form-label">Type</label>

                  <select class="form-select" name="type" required>
                    <option value="Service">Service</option>

                    <option value="Qualité">Qualité</option>
                    <option value="Service">Service</option>


                  </select>
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <label for="inputAddress" class="form-label">Périodicité</label>
                  <select class="form-select" name="periodicite" required>
                    <option value="Service">Hebdomadaire</option>

                    <option value="Qualité">Mensuel</option>
                    <option value="Service">Service</option>




                  </select>
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">Niveau Analyse</label>

                  <select class="form-select" name="analyse" required>
                    <option value="Conseiller">Conseiller</option>

                    <option value="Manager">Manager</option>
                    <option value="Prestataire">Prestataire</option>




                  </select>
                </div>

              </div>

              <br>
              <div class="row">
                <div class="col-md-12">
                  <label for="inputCity" class="form-label">Description</label>
                  <input type="text" class="form-control" name="description" required>

                </div>

              </div>
              <br>

              <div class="col-12">
                <br>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary btn-sm" type="submit"><i class="ri-save-2-line"></i> Valider</button>

                </div>

              </div>

            </div><!-- media-body -->


</form>

          </div><!-- modal-body -->

        </div><!-- modal-content -->
      </div><!-- modal -->

    </div>
  </div>
</div><!-- modal -->

          </div><!-- main --><br><br>
        </div>
      </div>
    </div>
    {% endblock content %}

   script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/db.data.js') }}"></script>
  <script src="{{ url_for('static', filename='js/db.finance.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
  
  <script
    src="{{ url_for('static', filename='lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
  
  <script
    src="{{ url_for('static', filename='lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>
  
  
  <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/prismjs/prism.js"></script>
  <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="../static/lib/gridjs-jquery/gridjs.production.min.js"></script>
  
  <script src="../static/assets/js/script.js"></script>
  <script>
    'use strict'




    // Search
    $("#tableGrid3").Grid({
      className: {
        table: 'table table-striped mb-0'
      },
      search: true,
      pagination: true,
      sort: false
    });



  </script>
  
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
  </body>
  
  </html>