{% if session.logged==True %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="SONATEL">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.png">

  <title>SO'VAR - Outil d'analyse et de suivi de la variation</title>

  {% block css %}{% endblock css %}
  <!-- Vendor CSS -->
  <link href="{{ url_for('static', filename='lib/remixicon/fonts/remixicon.css') }}" rel="stylesheet">



  <link href="{{ url_for('static', filename='lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/select2/css/select2.min.csss') }}" rel="stylesheet">
  <!-- Template CSS -->
  <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
  <link href="../static/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
  <link href="../static/lib/select2/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/lib/remixicon/fonts/remixicon.css">
  <link rel="stylesheet" href="../static/lib/prismjs/themes/prism.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/assets/css/style.min.css">
  
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>

<body data-bs-spy="scroll" data-bs-target="#navDocs" data-bs-offset="40">

  <div class="main main-app p-3 p-lg-4">
  {% extends 'index.html' %}

    {% block content %}
    <div class="col-xl-12">
      <div class="card card-title ">
        <div class="card-body">
          <div class="row g-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-7">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped mb-0">
                        <thead>
                          <tr style="background-color: #FF7900 ;">
                            <th scope="col" colspan="5" class="text-white">SYNTHESE </th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <th scope="row">Moyenne</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.moyenne|round(2,'floor')}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Ecart type</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.ecart|round(2,'floor')}}</td>
                            {% endfor %}
                          </tr>
                          
                          <tr>
                            <th scope="row">Variance Significance Factor (VSF)</th>
                            {% for ele in results %}

                            {% if ((6*ele.ecart)/ele.moyenne)|round(2,'floor')<=1 %} <th class="text-center bg-success"
                              scope="row">

                              {{((6*ele.ecart)/ele.moyenne)|round(2,'floor')}} </th>

                            {% else %}
                            <th class="text-center bg-danger" scope="row">

                              {{((6*ele.ecart)/ele.moyenne)|round(2,'floor')}} </th>

                            {% endif %}
                            {% endfor %}
                          </tr>

                          <tr>
                            <th scope="row">Limite Contrôle Supérieure</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.max|round(2,'floor')}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Limite Contrôle Inférieure</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.min|round(2,'floor')}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Conseiller</th>
                            {% for ele in results %}
                            <th class="text-center" scope="row"> {{ele.conseiller}}</th>
                            {% endfor %}
                          </tr>

                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                  </div>

                  <div class="col-xl-5">

                    <div class="table-responsive">
                      <table class="table table-bordered table-striped mb-0">
                        <thead>
                          <tr style="background-color: #FF7900 ;">
                            <th scope="col" colspan="5" class="text-white">INFORMATIONS</th>

                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <th scope="row">Date Création</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.date.strftime('%d/%m/%Y')}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Métrique</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.description}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Type Métrique</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.type}}</td>
                            {% endfor %}
                          </tr>

                          <tr>
                            <th scope="row">Périodicité</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.periodicite}}</td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Responsable</th>
                            {% for ele in results %}
                            <td class="text-center">{{ele.prenom}} {{ele.nom}} </td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <th scope="row">Mesure à analyser</th>
                            {% for ele in results %}
                            <th class="text-center" scope="row">{{ele.valeur}} </th>
                            {% endfor %}
                          </tr>

                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                  </div>
                </div>
              </div><!-- card-body -->

            </div><!-- card -->

            <br><br><br><br>


        {% for ele in results %}
        <h5 id="section2" class="main-subtitle"> <i class="ri-file-list-3-line fs-13 lh-1"></i> LIBELLE ANALYSE :
          {{ele.libelle}}</h5>
        {% endfor %}
        <table class="display responsive w-100 nowrap">
            <thead>
                <tr style="background-color: #009088 ;">
                    <th scope="row" class="text-white col-4">Cause racine</th>
                    <th scope="row" class="text-white py-2 col-4">Actions</th>
                    <th scope="row" class="text-white py-2 col-2">Porteurs</th>
                    <th scope="row" class="text-white py-2 col-2">Échéance</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <spam class="indication-act-progrm">
                Cliquer sur le bouton(+) de droite pour ajouter une Action(Action, Porteur, Echeance)</spam>
            <tbody class="border border-primary" id="corps"></tbody>
        </table>
        
        <div class="mt-3">
            <a >
            <button type="submit" class="btn btn-warning btn-sm rounded my-3 float-end" id="action_programme"><i class="ri-menu-add-fill"></i>Valider</button>
            </a>
        </div>

        
        <!--DEBUT CODES JS AJOUTER ACTION PROGRAMME  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/actionProg.js') }}"></script>
        <!--FIN CODES JS AJOUTER ACTION PROGRAMME -->
        
      </div><!-- main -->
      {% endblock content %}

        {# <script src="../static/lib/jquery/jquery.min.js"></script>
        <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/prismjs/prism.js"></script>
        <script src="../static/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="../static/lib/gridjs-jquery/gridjs.production.min.js"></script>

        <script src="../static/assets/js/script.js"></script>
        <script src="../static/lib/select2/js/select2.full.min.js"></script> #}

        {# <script>
          'use strict'

          // Basic usage
          $('#select2A').select2({
            placeholder: 'Choose one',
            minimumResultsForSearch: Infinity
          });

          // With search
          $('#select2B').select2({
            placeholder: 'Choose one'
          });

          $('#select2B').one('select2:open', function (e) {
            $('input.select2-search__field').prop('placeholder', 'Search...');
          });

          // Disabled
          $('#select2C').select2({
            placeholder: 'Choose one',
            minimumResultsForSearch: Infinity
          });

          // Multiple
          $('#select2D').select2({
            placeholder: 'Choose multiple',
            minimumResultsForSearch: Infinity
          });

          // Clearable
          $('#select2E').select2({
            placeholder: 'Choose one',
            allowClear: true,
            minimumResultsForSearch: Infinity
          });

          // Limit selection
          $('#select2F').select2({
            placeholder: 'Choose one or two',
            maximumSelectionLength: 2,
            minimumResultsForSearch: Infinity
          });

        </script> #}
</body>

</html>

{% else %}


<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="Themepixels">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png">

  <title>SO'VAR - Outil d'analyse et de suivi de la variation</title>

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="../static/lib/remixicon/fonts/remixicon.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../static/css/style.min.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

  $(document).ready(function () {
    $("#myform").on("submit", function () {
      $("#pageloader").fadeIn();
    });//submit
  });//document ready
</script>
<style>
  #pageloader {
    background: rgba(148, 46, 46, 0);
    display: none;
    height: 20%;
    position: fixed;
    width: 20%;
    z-index: 9999;
  }

  #pageloader img {
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
  }
</style>

<body class="page-sign d-block py-0">

  <div class="row g-0">

    <div class="col d-none d-lg-block"
      style="background-image: url('../static/assets/img/sass-3-banner-image.png'); width: 100%;">
    </div><!-- row -->
    <div class="col-md-5 col-lg-5 col-xl-5 col-wrapper">
      <div class="card card-sign">
        <div class="card-header">

          <a href="#" class="sidebar-logo mb-5"><i class="ri-bubble-chart-fill"></i><span style="color: #FF7900; ">
              SO</span>'<span style="color: #009088; ">VAR</span></a>
          <div class="divider"><span>Outil d'analyse de la variation</span></div>
          <h3 class="card-title">Authentification</h3>
          <p class="card-text">Renseigner vos paramétres de connexion.</p>
        </div><!-- card-header -->


        <form action="{{url_for('home')}}" method="post" id="myform">
          <div class="card-body">
            <div id="pageloader">
              <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif"
                alt="processing..." />
            </div>
            <div class="mb-4">
              <label class="form-label">Login</label>
              <input type="text" class="form-control" placeholder="Login" required name="so_login"
                value="{{request.form.so_login}}">
            </div>
            <div class="mb-4">
              <label class="form-label d-flex justify-content-between">Password </label>
              <input type="password" class="form-control" placeholder="Password" required name="so_password"
                value="{{request.form.so_password}}">
            </div>
            <button class="btn btn-primary btn-sign " type="submit"><i class="ri-login-box-line"></i> Connexion</button>

          </div><!-- card-body -->

        </form>
        <div class="card-footer">

          Forgot password? <a href="{{ url_for('recover')}}"> Mot de passe</a>
        </div><!-- card-footer -->

        <h1 class="az-logo">&nbsp;<img src="../static/assets/img/orange_logo.svg" width="40" height="40" /> </h1>
      </div><!-- card -->
    </div><!-- col -->



    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>


{% endif%}